<ion-card>
    <div class="header">
        <ion-avatar class="imgAvatar">
            <img src={{publicaciones.usuario.imgProfile}}>
        </ion-avatar>
        <ion-card-subtitle>{{publicaciones.usuario.username}}</ion-card-subtitle>
    </div>
    <div class="containerImg">
        <img class="imgSorteo" src= {{publicaciones.imgUrl}} alt="">
    </div>
    <ion-card-content>
      {{publicaciones.description}}
    </ion-card-content> 
    
    <a class="SocialLinkButton fuente" href="{{publicaciones.socialLink}}">Participar</a>
       
</ion-card>

  
  