<ion-card *ngFor="let p of publicaciones">
    <div class="header">
        <ion-avatar class="imgAvatar">
            <img src={{p.usuario.imgProfile}}>
        </ion-avatar>
        <ion-card-subtitle>{{p.usuario.username}}</ion-card-subtitle>
    </div>
    <div class="containerImg">
        <img class="imgSorteo" src= {{p.imgUrl}} alt="">
    </div>
    <ion-card-content>
      {{p.description}}
    </ion-card-content> 
    
    <a class="SocialLinkButton fuente" href="{{p.socialLink}}">Participar</a>
       
</ion-card>

  
  