<app-header></app-header>
<ion-content>
    <div class="formulario">
        <h1 class="fuente">Publique su Nuevo sorteo</h1>
        <p class="fuente warning" *ngIf="errDescription">Debe agragar una descripcion</p>
        <p class="fuente warning" *ngIf="errLink">Coloque el link de su sorteo</p>
        <p class="fuente warning" *ngIf="errFile">Coloque Una foto de su sorteo</p>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea [(ngModel)]="newPost.description"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Coloque el link de su sorteo</ion-label>
          <ion-input [(ngModel)]="newPost.SocialLink"></ion-input>
        </ion-item>
        <ion-item >
          <ion-label>Categoria</ion-label>
          <ion-select [(ngModel)]="categorySelected" (ionChange)="setCategory();">
            <ion-select-option *ngFor="let c of categorys; let i=index" [value]="c._id">{{c.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      <div>
      </div>
        <div>
          <p class="fuente">Su publicación tendra un coste de $200 ARS</p>
          <ion-button expand="full"  (click)="selectImage()">
            Agregar Foto
          </ion-button>
        </div>
    </div>
</ion-content>
<ion-footer>
  <ion-button expand="full" color="primary" (click)="uploadPhoto()">Publicar</ion-button>
</ion-footer>

