.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mail{
    text-transform: lowercase;
}

.logoImg{
    width: 70%;
}

.form{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputItem{
    width: 80%;
}



.btn{
    margin-top: 20px;
}

.errMessage{
    color: red;
    margin: 0;
}