<ion-content class="contenedor">

  <div class="logo">
    <img class="logoImg" src="assets/logo.png" alt="">
  </div>

  <div class="form">
    <ion-item class="inputItem">
      <ion-label  position="floating">Email</ion-label>
      <ion-input [(ngModel)]="user.email" class="fuente"></ion-input>
    </ion-item>
    
    <ion-item class="inputItem">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="user.password" type="password"class="fuente"></ion-input>
    </ion-item>
    
    <ion-button class="inputItem btn fuente" color="primary" (click)="singUp()">Registrarme</ion-button>

    <p class="fuente" [routerLink] ="['/login']">Ya tengo una cuenta</p>
  
  </div>
</ion-content>
