<ion-content class="contenedor">

  <div class="logo">
    <img class="logoImg" src="assets/logotipo.png" alt="">
  </div>

  <div class="form">
    <ion-item class="inputItem">
      <ion-label  position="floating">Email</ion-label>
      <ion-input [(ngModel)]="user.email" class="fuente mail"></ion-input>
    </ion-item>

    <ion-item class="inputItem">
      <ion-label  position="floating">Nombre de Usuario</ion-label>
      <ion-input  [(ngModel)]="user.username" class="fuente input"></ion-input>
    </ion-item>
    
    <ion-item class="inputItem">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="user.password" type="password"class="fuente"></ion-input>
    </ion-item>
    
    <ion-button class="inputItem btn fuente" color="primary" (click)="singUp()">Registrarme</ion-button>

    <p class="fuente" [routerLink] ="['/login']">Ya tengo una cuenta</p>
  </div>

  <div class="logo">
    <p *ngIf="errMail" class="fuente errMessage">- Debe ingresar un Email</p>
    <p *ngIf="errUsername" class="fuente errMessage">- Debe ingresar un Nombre de Usuario</p>
    <p *ngIf="errPassword" class="fuente errMessage">- Debe Ingresar una contraseña</p>
    <p  class="fuente errMessage">- {{errMessage}}</p>
  </div>
</ion-content>
