<app-header></app-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher> 
    <div class="profileUser">
        <ion-icon class="size icon" (click)="presetnModal()" name="create"></ion-icon>
        <ion-avatar class="profileImg">
            <img  src="{{user?.imgProfile}}">
        </ion-avatar>
        <h4 class="fuente userName">{{user?.username}}</h4>  
    </div>

<div class="cardcontainer">
    <ion-card *ngFor="let p of publicaciones">
        <div class="header">
            <div class="header">
                <ion-avatar class="imgAvatar">
                    <img src={{p.usuario.imgProfile}}>
                </ion-avatar>
                <ion-card-subtitle>{{p.usuario.username}}</ion-card-subtitle>
            </div>
        </div>
        <div class="containerImg">
            <img class="imgSorteo" src= {{p.imgUrl}} alt="">
        </div>
        <ion-card-content>
          {{p.description}}
        </ion-card-content>
        <a class="SocialLinkButton fuente"  (click)="deletePost(p._id)">Eliminar Publicacion</a>
        
    </ion-card>
</div>
</ion-content>




<!-- <div class="popover">
   
</div>    -->